<div class="container">

  <div class="row mt-5">
    <h4>いいね<i class="fas fa-heart" style="color: #FF0461;"></i>一覧</h4>
  </div>
  
  <div class="row">
    <%= render 'public/posts/posts', posts: @favorite_posts %>
  </div>

</div>
