<div class="container">

  <div class="row mt-5 mb-4">
    <h4>カテゴリー編集</h4>
  </div>
  
  <div class="row">
    <%= form_with model: [:admin,@category], url: admin_update_category_path(@category.id), method: :patch do |f| %>
      <%= f.label :name, "カテゴリー名" %>
      <%= f.text_field :name, class: "ml-3 mr-3" %>
      <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>

</div>